<div class="quizz__container">
  <div class="quizz_logo">
     <img src="https://raw.githubusercontent.com/felipeAguiarCode/angular-buzzfeed-quizz-clone/main/src/assets/imgs/logo.png" alt="" srcset="">
     <h3>Titulo</h3>
  </div>

  <div class="quizz_questions">
      <h3>Questão Selecionada</h3>
  </div>

  <div class="quizz_options">
    <button class="btn-option">
      optionname
   </button>

  </div>

  <div class="quizz_results">
    <h1>O Seu Resultado é:</h1>
    <p>Resposta Selecionada</p>
  </div>
</div>